.header{
    background-color: white;
    overflow: hidden;
    position: relative;
}
.header a{
  color: black;
  text-decoration: none;
}
.headerContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}
.logo{
    font-family: 'Mr Dafoe', cursive;
    font-size: 30px;
}
.logo span{
    color: goldenrod;
    font-size: 40px;
}
.headerNav{
    font-family: 'Mr Dafoe', cursive;
    font-size: 20px;
    display: flex;
    gap: 30px;
    list-style: none;
}
.navElement:hover{
    color: goldenrod;
    cursor: pointer;
    transition: 1s;
}
.mainImage{
  width: 100%;
  height: 10rem;
  z-index: 0;
  overflow: hidden;
}
.mainImage img {
  width: 110%;
  height: 80%;
  object-fit: cover;
}
@media (max-width:768px) {
    .visible{
      display: flex;
    }
    .hidden{
      display: none;
    }
    .logo{
        font-size: 3rem;
    }
    .logo span{
        font-size: 4rem;
    }
    .headerNav{
        display: none;
    }
    .mainImage{
      width: 100%;
    }
    label .menu {
        position: absolute;
        right: -100px;
        top: -100px;
        z-index: 100;
        width: 240px;
        height: 224px;
        background: goldenrod;
        border-radius: 65% 50% 50% 50%;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
        cursor: pointer;
      }
      label .hamburger {
        position: absolute;
        top: 153px;
        left: 50px;
        width: 80px;
        height: 6px;
        background: white;
        display: block;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
      }
      label .hamburger:after, label .hamburger:before {
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: white;
      }      
      label .hamburger:before { top: -10px; }
      label .hamburger:after { bottom: -10px; }
      label input { display: none; }
      label input:checked + .menu {
        box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
        border-radius: 65% 50% 50% 50%;
      }
      label input:checked + .menu .hamburger {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); 
      }
      label input:checked + .menu .hamburger:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0; 
      }
      label input:checked + .menu .hamburger:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0; 
      }
      label input:checked + .menu + ul { opacity: 1; }
      label ul {
        z-index: 200;
        position: absolute;
        top: 60%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        -webkit-transition: .25s 0s ease-in-out;
        transition: .25s 0s ease-in-out;
      }
      label li {
        margin-bottom: 1em;
        display: block;
        color: black;
        text-decoration: none;  
        font-size: 2rem;
        cursor: pointer;    
      }
      label li:hover{
          color: #1F6521;
          transition: 1s;
      }
}
@media (min-width: 768px) {
    .header label{
        display: none;
    }
}